.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### Application Secret ###
*.yml
src/main/resources/application.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### MAC ###
.DS_Store